.git
.github
.fleet
.idea
.vscode

.env
.env.*
!.env.example

/node_modules
/vendor
/public/build
/public/hot
/public/storage

/bootstrap/cache/*.php
/database/*.sqlite
/database/*.sqlite-*

/storage/*.key
/storage/debugbar
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*

/.phpunit.cache
/.phpunit.result.cache
npm-debug.log
yarn-error.log
